<ul>
  <li>String Manipulation {{documentation "Ember.String.html"}}</li>
</ul>
<span>
String.w {{documentation "Ember.String.html#method_w"}}
String.fmt {{documentation "Ember.String.html#method_fmt"}}
</span>
{{#code exampleViewClassName="App.LogView" noToolbar=true isExpanded=true}}
log 'item_one item2 third_item'.w()
log 'Hello Mr. %@ the %@'.fmt('Derpy', 'Squid')
{{/code}}
{{#view App.NotesView}}
  <p>
    Ember has a couple built-in String manipulation methods. If you browse the
    source code for this presenation you'll find me using them sometimes.
  </p>
{{/view}}

<ul>
  <li>Utility Functions</li>
</ul>
<span>
  Ember.typeOf {{documentation "Ember.html#method_typeOf"}}
  Ember.makeArray {{documentation "Ember.html#method_makeArray"}}
  Ember.keys {{documentation "Ember.html#method_keys"}}
</span>
{{#code exampleViewClassName="App.LogView" noToolbar=true isExpanded=true}}
log Ember.typeOf('s'), Ember.typeOf([1,2]), Ember.typeOf(x: 1)
log Ember.makeArray(1), Ember.makeArray([1,2])
log Ember.keys(x: 1, y: 2)
{{/code}}
{{#view App.NotesView}}
  <p>
    These functions allow you to keep from adding a dependacy on another
    library like <a href="http://underscorejs.org/">Underscore</a>.
  </p>
{{/view}}
