<div class="container">
  {{outlet}}
  <footer class="app-footer">
    <ul>
      <li>
        <label>
          {{view Ember.Checkbox checkedBinding="App.config.showNotes"}}
          Show Notes
        </label>
      </li>
      <li>
        Created by <a href="http://twitter.com/mutewinter">Jeremy Mack</a>
      </li>
      <li>
        {{#if App.currentSlide}}
          {{App.currentSlidePosition}} / {{App.slides.length}}
        {{else}}
          &nbsp;
        {{/if}}
      </li>
    </ul>
  </footer>
</div>
