<div {{bindAttr class=":messages view.hasError:error"}}>
  {{#if view.hasError}}
    {{view.errorMessage}}
  {{else}}
    {{view.message}}
  {{/if}}
</div>
<div class="buttons">
  {{#if view.canResetCode}}
  <a {{action resetCode target="view"}} href="#">
    Reset Sample
  </a>
  {{/if}}
  {{#unless view.hasError}}
  <a {{action switchLanguage target="view"}} href="#">
    {{view.switchText}}
  </a>
  {{/unless}}
</div>
