<div class="banner">
  <h1>Why Ember?</h1>
  <div class="subtitle">
    Why should I use Ember.js? JavaScript MVC frameworks are plentiful. In this
    presentation I will give you some compelling reasons to consider Ember.
  </div>
</div>
<div class="instructions">
  <a {{action goToSlide App.firstSlide href=true}}>Start Here</a> or Click a Slide Below
</div>
{{#collection class="slide-list" contentBinding="content" tagName="ul" itemTagName="li"}}
  {{#with view.content as content}}
    <div {{action goToSlide content on="touchClick"}}
      {{bindAttr class=":slide-container :preview content.isLastShownSlide:flash"}}>
      {{view App.SlideView contentBinding="content" preview=true}}
    </div>
    <span class="slide-number">
      {{content.slideNumber}} / {{App.slides.length}}
    </span>
  {{/with}}
{{/collection}}
