<ul class="slide-controls">
  <li {{action goToSlide App.previousSlide}}>
    {{#if App.previousSlide}}
    <a {{action goToSlide App.previousSlide href=true}}>
      &lt; {{App.previousSlide.name}}
    </a>
    {{else}}
      &nbsp;
    {{/if}}
  </li>
  <li>
    <div {{action goHome}} class="slide-controls-home">
      <a {{action goHome href=true}} >Home</a>
    </div>
  </li>
  <li {{action goToSlide App.nextSlide}}>
    {{#if App.nextSlide}}
    <a {{action goToSlide App.nextSlide href=true}}>
      {{App.nextSlide.name}} &gt;
    </a>
    {{else}}
      &nbsp;
    {{/if}}
  </li>
</ul>
<div class="slide-background">
  <div class="slide-container">
    {{view App.SlideContentView contentBinding="content"}}
  </div>
</div>
