<div class="slide-controls">
  {{#with App.previousSlide as previousSlide}}
    <a {{action showSlide previousSlide href=true}} href="#" class="pull-left">
      &lt; {{previousSlide.name}}
    </a>
  {{/with}}
  <div class="slide-controls-home">
    <a href="#" >Home</a>
  </div>
  {{#with App.nextSlide as nextSlide}}
    <a {{action showSlide App.nextSlide href=true}} class="pull-right">
      {{nextSlide.name}} &gt;
    </a>
  {{/with}}
</div>
{{view App.SlideContentView contentBinding="content" name="slideContent"}}
<div class="slide-position">
  {{view.slidePositionText}}
</div>
